#body
  background body-background-color !important

#header
  height 0

a
  text-decoration none !important
  &:hover
    color #666 !important
  & b
    text-decoration none !important
    &:hover
      color #f0f0f0 !important
  &.task-icon-link
    padding-left 18px /* Equal to width of new image */
    margin-left 8px
    vertical-align middle !important
    & img
      display none !important

#description div 
  padding-bottom 20px !important

#description > div:nth-of-type(2)
  margin-top 0px !important
  padding-bottom 0px !important
