// Hide Jenkins text logo on header
#jenkins-name-icon
  display: none;

// Hide Jenkins head logo
#jenkins-head-icon
  opacity: 0;

// Not sure what this is for yet
.logo
  margin-bottom: 15px;

// Use our own picture for the header
#jenkins-home-link
  display: block;
  background: url("hawk.png") 0 0 no-repeat;
  height: 64px;
  width: 354px;
