a[href*="/job/"].task-icon-link
  background url('img/return.png') no-repeat !important
  background-size contain !important

#tasks div:nth-child(2) a[href*="/job/"].task-icon-link
  background url('img/project.png') no-repeat !important
  background-size contain !important

a[href*="newJob"].task-icon-link
  background url('img/newjob.png') no-repeat !important
  background-size contain !important

a[href*="/asynchPeople/"].task-icon-link
  background url('img/people.png') no-repeat !important
  background-size contain !important

a[href*="/builds"].task-icon-link
  background url('img/history.png') no-repeat !important
  background-size contain !important

a[href="/projectRelationship"].task-icon-link
  background url('img/project.png') no-repeat !important
  background-size contain !important

a[href*="/fingerprint"].task-icon-link
  background url('img/finger.png') no-repeat !important
  background-size contain !important

a[href="/manage"].task-icon-link
  background url('img/manage.png') no-repeat !important
  background-size contain !important

a[href*="/credential-store"].task-icon-link
  background url('img/lock.png') no-repeat !important
  background-size contain !important

a[href*="repository"].task-icon-link
  background url('img/maven.png') no-repeat !important
  background-size contain !important

a[href="/me/my-views"].task-icon-link
  background url('img/views.png') no-repeat !important
  background-size contain !important

a[href="/"].task-icon-link
  background url('img/return.png') no-repeat !important
  background-size contain !important

a[href*="changes"].task-icon-link
  background url('img/paper.png') no-repeat !important
  background-size contain !important

a[href*="/ws/"].task-icon-link
  background url('img/folder.png') no-repeat !important
  background-size contain !important

a[href*="configure"].task-icon-link
  background url('img/manage.png') no-repeat !important
  background-size contain !important

a[href*="modules"].task-icon-link
  background url('img/views.png') no-repeat !important
  background-size contain !important

a[href*="build?"].task-icon-link
  background url('img/build.png') no-repeat !important
  background-size contain !important

a[href*="javadoc"].task-icon-link
  background url('img/box.png') no-repeat !important
  background-size contain !important

a[href*="console"].task-icon-link
  background url('img/console.png') no-repeat !important
  background-size contain !important

a[href*="Delete"].task-icon-link
  background url('img/x.png') no-repeat !important
  background-size contain !important

a[href*="delete"].task-icon-link
  background url('img/x.png') no-repeat !important
  background-size contain !important

a[href*="git"].task-icon-link
  background url('img/git.png') no-repeat !important
  background-size contain !important

a[href*="/testReport"].task-icon-link
  background url('img/clip.png') no-repeat !important
  background-size contain !important

a[href*="/redeploy"].task-icon-link
  background url('img/redeploy.png') no-repeat !important
  background-size contain !important

a[href*="/GitHubPollLog"].task-icon-link
  background url('img/git.png') no-repeat!important
  background-size contain!important

div.task a[href="#"]:first-child
  background url('img/x.png') no-repeat !important
  background-size contain !important
  padding-left: 18px // Equal to width of new image
  margin-left: 8px
  vertical-align: middle !important
