// Large project icons
td:first-child a[href="javadoc"]
  background: url(img/box.png) no-repeat !important;
  background-size: contain !important;
  padding: 24px !important;
  display: block !important;

a[href="javadoc"] img
  display: none !important;

td:first-child a[href="ws/"]
  background: url(img/folder.png) no-repeat !important;
  background-size: contain !important;
  padding: 24px !important;
  display: block !important;

a[href="ws/"] img
  display: none !important;

td:first-child a[href="changes"]
  background: url(img/paper.png) no-repeat !important;
  background-size: contain !important;
  padding: 24px !important;

#main-panel > table a[href="lastSuccessfulBuild/artifact/"]
  background: url(img/target.png) no-repeat !important;
  background-size: contain !important;
  padding: 24px !important;
  padding-left: 70px !important;
  display: block !important;
  margin-left: -60px !important;

#main-panel > table a[href*="lastSuccessfulBuild/artifact/target/"]:first-child
  padding-left: 50px !important;
  display: block !important;
  margin-top: -20px;
  color: black !important;

#main-panel > table .fileSize
  padding-left: 30px !important;
  display: block !important;
  margin-top: -20px;

#main-panel > table a[href*="*view*"]
  display: none !important;

#main-panel > table .fileList img
  display: none !important;

#main-panel > table > tbody > tr img[src*="package"]
  display: none !important;

#main-panel > table > tbody > tr img[src*="clipboard"]
  display: none !important;
